<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Projet dictionnaire{% endblock %}</title>

        {% block stylesheets %}

        {% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-light py-3 px-0 overflow-hidden">
            <div class="container px-md-5">
                <div class="col-4">
                    <div class="d-none d-lg-flex justify-content-end position-relative z-index-1">
                        <div class="d-flex gap-3 align-items-start"><a class="mb-0 ms-auto text-warning fs-0 fw-bold text-uppercase" href="{{ path('app_login') }}">Login Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}


        {#Les scripts javascripts#}
        
    </body>
</html>