{% extends 'base.html.twig' %}

{% block title %}Dict index{% endblock %}

{% block body %}
    <h1>Word index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Def</th>
                <th>InputWord</th>
                <th>WordType</th>
            </tr>
        </thead>
        <tbody>
        
        {% for word in words %}
            <tr>
                <td>{{ word.def }}</td>
                <td>{{ word.inputWord }}</td>
                <td>{{ word.wordType }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {{ knp_pagination_render(words) }}
    </div>

{% endblock %}
