{% extends 'base.html.twig' %}

{% block body %}
<h1>Random Word</h1>
<p><strong>Word:</strong> {{ randomWord.inputWord }}</p>
<p><strong>Definition:</strong> {{ randomWord.def }}</p>
<p><strong>Word Type:</strong> {{ randomWord.wordType }}</p>

{% endblock %}