{% extends 'baseWord.html.twig' %}

{% block title %}New Word{% endblock %}

{% block body %}
    <h1>Create new Word</h1>

    {{ include('word/_form.html.twig', {'button_label': 'Ajouter', 'Titre': 'Ajout de nouveaux mots'}) }}
{% endblock %}
